<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>管理员空间</h1>
    </header>

    <p>欢迎来到管理员空间</p>
  </div>

  <div class="col-md-3">
    <h2>管理员链接</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "商品管理", admin_products_path %></li>
      <li><%= link_to "订单管理", admin_orders_path %></li>
      <li><%= link_to "用户管理", admin_users_path %></li>
    </ul>
  </div>
</div>
